DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost
DB_NAME=eraj_platform
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=0
REDIS_URL=redis://127.0.0.1:6379/0
MODULE_PERMISSION_CACHE_TTL=180
